<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

</head>


<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What's the weather like?
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {{ form.name }}
                        </div>
                        <div class="control">
                            <button class="button is-info" type="submit">
                                Add City
                            </button>
                        </div>
                    </div>
                    <div id="messages">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">

                <h3><u>Current Location Weather</u></h3>

                <div class="box">
                    <a class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img alt="Image" src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ city_weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ city_weather.temperature }}° C</span>
                                    <br> {{ city_weather.description }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <h3><u> Added Cities Weather </u></h3>

                {% for city_weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure>
                                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title"> {{city_weather.city}} </span>
                                    <br>
                                    <span class="subtitle"> {{city_weather.temperature}}° C </span>
                                    <br> {{city_weather.description}}
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <a href="{% url 'delete_city' city_weather.city %}">
                                <button class="delete"></button>
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<footer class="footer">
</footer>
</body>

</html>
